<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>OpenGIS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery-1.4.1.min.js"></script>
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/yui/reset-fonts/reset-fonts.css">
	
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/styles.css">
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/scripts.js"></script>
	<script type="text/javascript">var MEDIA_URL = '{{MEDIA_URL}}';</script>
	
<script type="text/javascript">
$(document).ready(function() {
	
});
</script>
{% block html_head %}{% endblock %}
</head>
<body>
{% block body_content %}{% endblock %}
</body>
</html>
