{% extends 'page_base.html' %}

{% block html_head %}
{% endblock %}

{% block page_content %}
<h2>Login Page</h2>

<form action="." method="POST">
	<ul>
		<li>
			<label for="id_username">Username:</label>
			{{form.username}}
			{{form.username.errors}}
		</li>
		<li>
			<label for="id_password">Password:</label>
			{{form.password}}
			{{form.password.errors}}
		</li>
	</ul>
	<input type="hidden" name="next" value="{{next}}">
	<div class="button_panel">
		<button type="submit">Submit</button>
	</div>
</form>
{% endblock %}