{% extends 'page_base.html' %}

{% block html_head %}
{% endblock %}

{% block page_content %}
<h2>Reset Password</h2>
<form action="." method="POST">
	<ul>
		<li>
			<label for="id_new_password1">New Password:</label>
			{{form.new_password1}}
			{{form.new_password1.errors}}
		</li>
		<li>
			<label for="id_new_password2">Confirm New Password:</label>
			{{form.new_password2}}
			{{form.new_password2.errors}}
		</li>
	</ul>
	<div class="button_panel">
		<button type="submit">Submit</button>
	</div>
</form>
{% endblock %}