{% extends "base.html" %}

{% block title %}ตั้งรหัสผ่านใหม่ : {{ block.super }}{% endblock %}

{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/min.base-form.css">
{% endblock %}

{% block content %}
<div class="SS_Standard_Page">
	<h1>ตั้งรหัสผ่านใหม่</h1>
	
	{% if validlink %}
		<div class="SS_Form_TableContainer">
			<form action="." method="POST">
				<table>
					<tr>
						<td class="SSI_LabelPanel">รหัสผ่าน:</td>
						<td class="SSI_InputPanel INPUT_Textbox_Medium">{{form.new_password1}} <div class="SSI_ErrorMessage">{{ form.new_password1.errors }}</div></td>
					</tr>
					<tr>
						<td class="SSI_LabelPanel">ยืนยันรหัสผ่าน:</td>
						<td class="SSI_InputPanel INPUT_Textbox_Medium">{{form.new_password2}} <div class="SSI_ErrorMessage">{{ form.new_password2.errors }}</div></td>
					</tr>
					<tr>
						<td></td>
						<td class="SSI_ButtonPanel"><input type="submit" value="ตกลง" class="SS_Standard_PrimaryButton"/></td>
					</tr>
				</table>
			</form>
		</div>
	{% else %}
		การตั้งรหัสผ่านใหม่ผิดพลาด เนื่องจากไม่มีข้อมูลการขอตั้งรหัสผ่านนี้ในระบบ
	{% endif %}
</div>
{% endblock %}