{% extends "base.html" %}

{% block title %}ตั้งรหัสผ่านใหม่ : {{ block.super }}{% endblock %}

{% block html_head %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/min.base-form.css">
{% endblock %}

{% block content %}
<div class="SS_Standard_Page">
	<h1>ตั้งรหัสผ่านใหม่</h1>

	<div class="SS_Form_TableContainer">
		<form action="." method="POST">
			{% if form.errors %}<div class="SSI_FormErrorMessage">ไม่มีข้อมูลอีเมลนี้ในระบบ</div>{% endif %}
			
			<table>
				<tr>
					<td class="SSI_LabelPanel">อีเมล:</td>
					<td class="SSI_InputPanel INPUT_Textbox_Medium">{{form.email}} <div class="SSI_ErrorMessage">{{ form.email.errors }}</div></td>
				</tr>
				<tr>
					<td></td>
					<td class="SSI_ButtonPanel"><input type="submit" value="ตกลง" class="SS_Standard_PrimaryButton"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>
{% endblock %}