.view_workspace_page h1 {font-size:16px;margin:7px 0px 0px 5px;}

.view_workspace_page .layer_item {border-bottom:1px solid #CCC;padding:8px 5px;}
.view_workspace_page .layer_item h3 {font-size:0.9em;}
.view_workspace_page .layer_item div.status {margin:5px 0px 3px;font-size:0.9em;color:#555;}
.view_workspace_page .layer_item div.status span {}

.view_workspace_page .layer_item div.actions {margin:8px 0px 0px;font-family:sans-serif;font-size:0.75em;}
.view_workspace_page .layer_item div.actions input {vertical-align:middle;margin-bottom:3px;}
.view_workspace_page .layer_item div.actions label {margin-right:20px;}

.view_workspace_page .layer_item_modified {}
.view_workspace_page .layer_item_modified span {font-style:italic;color:#960;}