{% extends "base.html" %}

{% block html_head %}
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAZhq-pzUiIY368XJaHhlpWhSdNN88lcwnM-bI1mi2RoVX8SlwCRTcOWV5KqVAR3pxRpbxAobHHnn96g"></script>
<script src="{{MEDIA_URL}}/openlayer/OpenLayers.js"></script>

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/extjs/resources/css/ext-all.css" />
<script type="text/javascript" src="{{MEDIA_URL}}/extjs/adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/extjs/ext-all.js"></script>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/resources/css/ext-all.css" />

<script type="text/javascript" src="{{MEDIA_URL}}/scripts/workspace/workspace.view.map.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/workspace/workspace.view.js"></script>

<script type="text/javascript">
var _workspace_id = {{workspace.id}};
Ext.onReady(function(){
	initializeWorkspaceViewport();
});
</script>

{% endblock %}

{% block body_content %}
<div id="header"><h1>My Workspace</h1></div>
<div id="west" class="x-hide-display">
	<ul id="workspace-layers">
		{% for layer in layers %}
		<li>
			<span class="layer_id">{{layer.id}}</span>
			<span class="layer_name">{{layer.name}}</span>
			<span class="source_name">{{layer.table.project.name}} - {{layer.table.name}}</span>
			<!--<span class="table_id">{{layer.table.id}}</span>-->
			<span class="spatial_type">{{layer.spatial_type}}</span>
			<span class="is_show">{{layer.is_show}}</span>
		</li>
		{% endfor %}
	</ul>
</div>
<div id="center"></div>
{% endblock %}